.questionContainer {
  height: max(92.5%, 92.5%);
  width: max(55%, 55%);
  background-color: rgb(31, 31, 43);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.705);
  color: rgb(211, 211, 211);
  border-radius: 1.5rem;
  margin-top: 4rem;
  position: relative;
  display: grid;
  grid-template-rows: 20% 4% 76%;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: right;
}
.questionNumber {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;

  transform: translate(50%, -50%);
  display: block;
  color: rgb(211, 211, 211);
}
.answerBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: max(95%, 95%);
  height: max(95%, 95%);

  gap: 10px;
}
.choiceAnswerOne,
.choiceAnswerTwo,
.choiceAnswerThree,
.choiceAnswerFour {
  border: 1.5px solid rgba(126, 124, 124, 0.823);
  width: max(100%, 100%);
  height: max(100%, 100%);
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 1rem;

  text-align: center;
}
.choiceAnswerOne:hover,
.choiceAnswerTwo:hover,
.choiceAnswerThree:hover,
.choiceAnswerFour:hover {
  border: 1.5px solid white;
}
.clickedAnswer {
  background-color: rgb(31, 31, 43);
  border: 1.5px solid rgba(48, 83, 242, 0.864);

  width: max(100%, 100%);
  height: max(100%, 100%);
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}
.helperText {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  width: max(100%, 100%);
  height: max(max-content, max-content);
  padding-left: 1.5rem;
  margin-bottom: 5px;
  color: rgb(211, 211, 211);
}
.answerSide {
  font-size: 2.2rem;
  display: grid;
  place-items: center;
  text-align: center;
  width: max(90%, 90%);
  height: max(max-content, max-content);
}
@media (max-height: 477px) {
  .answerBlock {
    width: max(95%, 95%);
    height: max(80%, 80%);

    gap: 10px;
  }
  .choiceAnswerOne,
  .choiceAnswerTwo,
  .choiceAnswerThree,
  .choiceAnswerFour {
    font-size: 1rem;
  }
}
@media (max-height: 380px) {
  .answerBlock {
    width: max(95%, 95%);
    height: max(80%, 80%);

    gap: 10px;
  }
  .choiceAnswerOne,
  .choiceAnswerTwo,
  .choiceAnswerThree,
  .choiceAnswerFour {
    font-size: 0.8rem;
  }
  .answerSide {
    font-size: 1.8rem;
    display: grid;
    place-items: center;
    text-align: center;
    width: max(90%, 90%);
    height: max(max-content, max-content);
  }
  .questionContainer {
    height: max(92.5%, 92.5%);

    grid-template-rows: 18% 4% 78%;
  }
}
@media (max-width: 700px) {
  .answerBlock {
    width: max(95%, 95%);
    height: max(80%, 80%);

    gap: 10px;
  }
  .choiceAnswerOne,
  .choiceAnswerTwo,
  .choiceAnswerThree,
  .choiceAnswerFour {
    font-size: 0.8rem;
  }
  .answerSide {
    font-size: 1.8rem;
    display: grid;
    place-items: center;
    text-align: center;
    width: max(90%, 90%);
    height: max(max-content, max-content);
  }
  .questionContainer {
    height: max(92.5%, 92.5%);

    grid-template-rows: 18% 4% 78%;
  }
  .clickedAnswer {
    font-size: 0.8rem;
  }
}
@media (max-width: 530px) {
  .answerBlock {
    width: max(95%, 95%);
    height: max(80%, 80%);

    gap: 10px;
  }
  .choiceAnswerOne,
  .choiceAnswerTwo,
  .choiceAnswerThree,
  .choiceAnswerFour {
    font-size: 0.8rem;
  }
  .answerSide {
    font-size: 1.6rem;

    margin-top: 0;
  }
  .questionContainer {
    height: max(92.5%, 92.5%);

    grid-template-rows: 18% 1% 81%;
  }
  .clickedAnswer {
    font-size: 0.8rem;
  }
}
@media (max-width: 475px) {
  .answerBlock {
    width: max(95%, 95%);
    height: max(80%, 80%);

    gap: 10px;
  }
  .choiceAnswerOne,
  .choiceAnswerTwo,
  .choiceAnswerThree,
  .choiceAnswerFour {
    font-size: 0.6rem;
  }
  .answerSide {
    font-size: 1.2rem;
  }
  .questionContainer {
    height: max(92.5%, 92.5%);

    grid-template-rows: 18% 1% 81%;
  }
  .clickedAnswer {
    font-size: 0.6rem;
  }
}
@media (max-width: 330px) {
  .answerBlock {
    width: max(95%, 95%);
    height: max(80%, 80%);

    gap: 10px;
  }
  .choiceAnswerOne,
  .choiceAnswerTwo,
  .choiceAnswerThree,
  .choiceAnswerFour {
    font-size: 0.5rem;
  }
  .answerSide {
    font-size: 1rem;
  }
  .questionContainer {
    height: max(92.5%, 92.5%);

    grid-template-rows: 18% 1% 81%;
  }
  .clickedAnswer {
    font-size: 0.5rem;
  }
}
