.testNavBar {
  width: 100%;
  height: min(7.5vh, 7.5vh);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, min-content);

  align-items: center;
  justify-content: space-between;
  background-color: rgb(4, 4, 48);
  overflow: hidden;
  transition: all 0.25s;
  border-bottom: 1px solid white;
  position: relative;
  overflow: hidden;
}
.icon {
  height: min(4.5vh, 4.5vh);
  width: min(4.5vh, 4.5vh);
  padding: 0.5vh;
  color: white;
  border: white solid 1px;
  border-radius: 5px;
  background-color: rgb(4, 4, 48);
  margin-top: 5px;
}
.listIconClicked {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.705);
}
.firstIcon {
  margin-left: 1rem;
  border: none;
}

.menuIcon:hover {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.705);
}
.lastIcon {
  margin-right: 1rem;
}
.titleContainer {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: min-content min-content;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.questionTracker {
  grid-row: 1 / span 1;
  font-weight: bold;
}
.testTitle {
  grid-row: 2 / span 1;
  color: rgba(255, 255, 255, 0.753);
}
.testEditContainer {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 2.5rem;
  justify-content: space-evenly;
  align-items: center;
}
.options {
  height: min(4.72vh, 4.72vh);
  width: min(9vh, 9vh);

  text-align: center;
  border: white solid 1px;

  border-radius: 5px;
  font-size: 2vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
