.testCard {
  width: max(100%, 100%);
  height: max(4.4rem, 2.2rem);
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(48, 48, 155);
}
.testCardTitle {
  font-size: 2rem;
  color: rgb(48, 48, 155);
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: max(3.4rem, 3.4rem);
  width: min(15rem, 15rem);
  align-self: left;
}
.buttonsContainer {
  height: max(4.4rem, 4.4rem);
  width: max(4.4rem, 4.4rem);
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.checkMarkButton {
  height: max(2rem, 2rem);
  width: max(2rem, 2rem);
  border: 2px solid rgb(48, 48, 155);
  border-radius: 50%;
}
.moreInfoButton {
  height: max(2rem, 2rem);
  width: max(2rem, 2rem);
  color: rgb(48, 48, 155);
  border: none;
  background-color: #f3f3f3;
}
.checkMarkIcon {
  color: rgb(48, 48, 155);
  background-color: #f3f3f3;
  border-radius: 50%;
}
