.menuCardContainer {
  color: white;
  background: rgb(4, 4, 48);
  box-shadow: black;
  display: grid;
  grid-template-columns: 13% minmax(87%, max-content);
  grid-template-rows: 1fr;

  margin-right: 0;
  width: max(100%, 100%);
  height: max(10%, 10%);

  justify-content: space-between;
  align-items: center;

  overflow-x: scroll;

  scrollbar-width: thin;
  overflow-wrap: initial;
  border-bottom: 1px solid white;
}

.menuButton {
  background-color: rgba(48, 47, 47, 0.589);
  border-radius: 0.5rem;
  color: white;
  border: none;
  width: max(2.2rem, 2.2rem);

  height: max(2.2rem, 2.2rem);

  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin-left: 0.5rem;
}
.menuButton:hover {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.705);
}
.title {
  text-align: center;
  display: grid;
  place-content: center;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: 1.6rem;

  height: max(100%, 100%);
  width: max(100%, 100%);
  margin-left: 1rem;
}
