.menu {
  width: 20rem;
  height: 92.5vh;
  background-color: rgba(48, 47, 47, 0.589);
  float: left;
  transition: all 0.5s;
  transform: translateX(-20rem);
  z-index: 100;
  border-right: white 1px solid;
  overflow-y: scroll;
}

.menuMoveOut {
  transform: translateX(0);
  transition: all 0.5s;
}
.testButtonClicked {
  transform: translateX(0);
  transition: all 0.5s;
  z-index: 100;
}
