.flashcardContainer {
  width: max(100%, 100%);
  height: 92.5vh;
  background-color: rgb(4, 4, 48);
  perspective: 1500rem;
  position: relative;
  transition: all 1s;
  z-index: 1;
  overflow: hidden;
}

.flashcardButton {
  height: 3.5rem;
  max-height: 3.5rem;
  width: 3.5rem;
  max-width: 3.5rem;
  color: white;
  background-color: rgba(48, 47, 47, 0.589);
  border: 1px solid white;
  border-radius: 1.75rem;
  display: relative;
  z-index: -1;
}
.flashcardButton:hover {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.705);
}
.leftButton {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: relative;
}
.rightButton {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(50%, -50%);
}

.pageCounter {
  position: absolute;
  display: inline-block;
  bottom: 2.5%;
  left: 50%;
  font-size: 2.4rem;
  transform: translateX(-50%);
}
.decksMenu {
  height: max(9.5vh, 9.5vh);
  width: max(10.5%, 10.5%);
  border-radius: 5px;

  z-index: 100;
  visibility: hidden;
  position: absolute;
  top: -8.5vh;
  right: 0;
  background-color: rgba(48, 47, 47, 0.589);
  color: white;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.705);

  transition: all 0.75s ease-out;
  transform: translateY(-100%);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;

  margin-right: 8.75%;
  margin-left: auto;
}
.decksButtonClicked {
  transform: translateY(91%);
  visibility: visible;
  transition: all 0.75s ease-in;
}
.deckSelectorButtonText {
  color: inherit;
  border: none;
  text-decoration: none;
  text-align: center;
}

.deckSelectorButtonText:hover {
  background-color: rgba(48, 47, 47, 0.589);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.705);
  color: white;
  border-radius: 0.5rem;
  width: min(90%, 90%);
  height: min(80%, 80%);
  text-align: center;
}
.menuButton {
  width: 3.5rem;
  height: 5rem;
  max-width: 3.5rem;
  max-height: 5rem;

  color: white;
  background-color: rgba(48, 47, 47, 0.589);

  border: none;
  margin-left: 1rem;
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(-27.5%, 50%);
  z-index: 10;
  transition: all 0.5s;
}
.menuButton:hover {
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.705);
}
.menuButtonClicked {
  left: 23rem;
  transition: all 0.5s;
}
@media (max-width: 1050px) {
  .menuButtonClicked {
    left: 17.4rem;
    transition: all 0.5s;
  }
}
@media (max-width: 950px) {
  .pageCounter {
    font-size: 1.8rem;
  }
  .flashcardButton {
    height: max(3rem, 3rem);
    width: max(3rem, 3rem);
  }
  .menuButton {
    height: max(3rem, 3rem);
    width: max(3rem, 3rem);
    transform: translate(-33.5%, 50%);
  }
  .decksMenu {
    font-size: 0.8rem;
    margin-right: 4.55%;
  }
  .menuButtonClicked {
    left: 12.45rem;
    transition: all 0.5s;
  }
}
@media (max-width: 830px) {
  .menuButtonClicked {
    left: 10.45rem;
    transition: all 0.5s;
  }
}

@media (max-width: 725px) {
  .pageCounter {
    font-size: 1.8rem;
  }
  .flashcardButton {
    height: max(2.5rem, 2.5rem);
    width: max(2.5rem, 2.5rem);
  }
  .menuButton {
    height: max(2.5rem, 2.5rem);
    width: max(2.5rem, 2.5rem);

    transform: translate(-39.5%, 50%);
  }
  .decksMenu {
    font-size: 0.7rem;
    margin-right: 2%;
  }
  .menuButtonClicked {
    left: 8.45rem;
    transition: all 0.5s;
  }
}
@media (max-width: 550px) {
  .decksMenu {
    font-size: 0.7rem;
    margin-right: 2%;
  }
}
@media (max-width: 400px) {
  .decksMenu {
    font-size: 0.6rem;
    margin-right: 2.75%;
  }
}
