* {
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-weight: 300;
  color: #ffffff;
  line-height: 1.9;
  width: 100rem;
  overflow: hidden;
  background-color: black;
}
.hidden {
  display: none;
}
#root {
  overflow: hidden;
}
