.questionSection {
  display: grid;
  height: max(100%, 100%);
  width: max(100%, 100%);
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 100%;

  justify-content: center;
  align-items: center;
}
.dragIntoSections {
  height: min(max-content, max-content);
  width: max(100%, 90%);
  border: 2px dotted rgb(148, 164, 255);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  padding: 0.9rem;
}

.answerSection {
  height: max(100%, 100%);
  width: max(100%, 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 3rem;
}
.correctAnswer {
  height: max(100%, 100%);
  width: max(100%, 100%);

  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1.5px solid rgb(3, 226, 3);
}
.wrongAnswer {
  height: max(100%, 100%);
  width: max(100%, 100%);

  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  border: 1.5px solid rgb(226, 18, 3);
}
@media (max-width: 1160px) {
  .clickedAnswer,
  .correctAnswer,
  .wrongAnswer,
  .correctAnswerHelperText,
  .incorrectUserAnswer,
  .answerSection {
    font-size: 0.8rem;
  }
}
@media (max-width: 825px) {
  .clickedAnswer,
  .correctAnswer,
  .wrongAnswer,
  .correctAnswerHelperText,
  .incorrectUserAnswer,
  .answerSection {
    font-size: 0.6rem;
  }
}
@media (max-height: 477px) {
  .clickedAnswer,
  .correctAnswer,
  .wrongAnswer,
  .correctAnswerHelperText,
  .incorrectUserAnswer,
  .answerSection {
    font-size: 1rem;
  }
}
@media (max-height: 380px) {
  .clickedAnswer,
  .correctAnswer,
  .wrongAnswer,
  .correctAnswerHelperText,
  .incorrectUserAnswer,
  .answerSection {
    font-size: 0.7rem;
  }
}
@media (max-width: 700px) {
  .clickedAnswer,
  .correctAnswer,
  .wrongAnswer,
  .correctAnswerHelperText,
  .incorrectUserAnswer,
  .answerSection {
    font-size: 0.6rem;
  }
}
@media (max-width: 530px) {
  .clickedAnswer,
  .correctAnswer,
  .wrongAnswer,
  .correctAnswerHelperText,
  .incorrectUserAnswer,
  .answerSection {
    font-size: 0.6rem;
  }
}
@media (max-width: 475px) {
  .clickedAnswer,
  .correctAnswer,
  .wrongAnswer,
  .correctAnswerHelperText,
  .incorrectUserAnswer,
  .answerSection {
    font-size: 0.5rem;
  }
}
@media (max-width: 330px) {
  .clickedAnswer,
  .correctAnswer,
  .wrongAnswer,
  .correctAnswerHelperText,
  .incorrectUserAnswer,
  .answerSection {
    font-size: 0.5rem;
  }
}
